<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WechatArticleSearcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WechatArticleSearcher.Properties.Settings>
            <setting name="DbHost" serializeAs="String">
                <value />
            </setting>
            <setting name="DbPort" serializeAs="String">
                <value />
            </setting>
            <setting name="DbUser" serializeAs="String">
                <value />
            </setting>
            <setting name="DbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DbDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="Cookie" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value />
            </setting>
            <setting name="ArticleTable" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountTable" serializeAs="String">
                <value />
            </setting>
            <setting name="UseLocalDb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
        </WechatArticleSearcher.Properties.Settings>
    </userSettings>
</configuration>